{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h2>Page d'accueil</h2>
    <div class="row">
        {% for pack in packList %}
            {% if pack.enable == true %}
                <div class="col-sm-3 mb-2 mb-sm-0">
                    <div class="card text-center border-secondary">
                        <div class="card-header">{{ pack.name }}</div>
                        <div class="card-body">
                            <p class="card-text">{{ pack.nbrUnits }} unités</p>
                            <p class="card-text">{{ pack.price }}€</p>
                            <a href="/command/{{ pack.id }}"><button class="btn btn-primary">Commander</button></a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
