<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>WorkTogether</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <h1>WorkTogether</h1>
            <h3>Service de location de serveur</h3>
            <a href="/register"><button class="btn btn-primary">Créer un compte</button></a>
            <a href="/login"><button class="btn btn-primary">Se connecter</button></a>
            <a href="/logout"><button class="btn btn-primary">Se déconnecter</button></a>
        </div>

        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
